# Ignore all (necessary to ignore executables)
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# JetBrains IDE
.idea/*

# Make
Makefile
config.mk

# Measurements
measurements/*
.vscode


# plots
plots/*

# For MacOS enjoyers
.DS_Store

# For pyenv enjoyers
.python-version

# MPI output files
*.plist 
*.yml

# For output enjoyers
outputs/*

# For Euler enjoyers
.sbatch